@{
    ViewBag.Title = "komunikator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/Scripts/comunicator.js")
    @Scripts.Render("~/Scripts/handlebars.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
    @Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
    @Scripts.Render("~/Scripts/bootstrap/js/bootstrap.js")
    

    }

<body>
    <h1>Duta!</h1>
	<div id="dutaContainer">
		<div id="application">
			<div class="btn-group">
				<button type="button" class="btn btn-sm" data-toggle="dropdown">
					<span id="userStatus" class="glyphicon glyphicon-certificate status available"></span>
					<span id="userName">@ViewBag.Login</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" onClick="duta.setMyStatus('available')"><span class="glyphicon glyphicon-certificate status available"></span><span>Dostępny</span></a></li>
					<li><a href="#" onClick="duta.setMyStatus('brb')"><span class="glyphicon glyphicon-certificate status brb"></span><span>Zaraz wracam</span></a></li>
					<li><a href="#" onClick="duta.setMyStatus('inaccessible')"><span class="glyphicon glyphicon-certificate status inaccessible"></span><span>Niedostępny</span></a></li>
				</ul>
			</div>
			<div id="applicationMenu">
				<button type="button" class="btn btn-xs" onclick="duta.addContactView()">Addcontact</button>
				<button type="button" class="btn btn-xs" onclick="">Menu2</button>
				<button type="button" class="btn btn-xs" onclick="">Menu3</button>
                <button type="button" class="btn btn-xs" >Menu4</button>
			</div>
			<div id="userInfo">
				<input id="userDesription" type="text"></input>
			</div>
			<div id="contacts">
			</div>
		
		</div>
	
	
		
	</div>
